.FormLayout--android{
    width:80%;
    max-width: 1000px;
}

.FormLayout--ios{
    width:80%;
    max-width: 1000px;
}

.up{
    position: relative;
    top:20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.textarea{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.board{
    display: flex;
    justify-content: center;

}
.board p{
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 30px;
    background-color: black;
    word-spacing: 10px;
    margin-bottom: 10px;
}

.but{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}
.but Button{
    width:100%;
    max-width: 500px;
}
.select{
    width:30%;
}
.gif{
    width: 375px;
    background: url("./img/gif_bg.png") center center no-repeat;
    background-size: 340px 90px;
}
.panel{
    height: 100vh;
    width: 100vw;
    background-color: white;
    background: url("./img/bg.jpg");
    background-repeat: repeat;
    background-size: contain;

}
.fix {
    position: absolute;
    bottom: 48px;
}
.bta{
    position:relative;
    max-width: 100%;
    margin-bottom: 48px;
}
